<html>
    <head>
        <title> OdooDemon </title>
        <link rel="stylesheet" href="static/css/home.css">
        <script type="text/javascript" src="static/js/home.js"></script>
    </head>

    <body>
        <p id='title'> 
            <span id='t1'>o</span><span id='t2'>doo</span><span id='t3'> Demon</span> </p>

        <div id='divsetcontainer'>
            <div class="divset" id="div1">
                Restart Server
            </div>

            <div class="divset" id="div2">
                <select name="installed_modules" id="installed_modules">
                    <option value="">Select a module</option>
                </select>

                Upgrade Module
            </div>

            <div class="divset" id="div3">
                Reset View
            </div>
        </div>

        <div id='notification'>
            Welcome !
        </div>













    </body>
</html>