<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Odoo Demon</title>
    <link rel="stylesheet" href="static/css/v3.css">
    <script type="text/javascript" src="static/js/v3.js"></script>
  </head>

  <body>

    <div id='title'>
        <div><span id='t1'>o</span><span id='t2'>doo</span><span id='t3'>Demon</span> </p> </div>
        <div> <img src="static/img/demonlogo_2.png" /> </div>
    </div>

    <section class="card-list">

        <!-- TESTING -->
        <article class="card">

            <div>
              <header class="card-header" id='plus_card_title'>
                    <p># X</p>
                    <h2>Field Search</h2>
                </header>

                <div id="field_lookup">
                  <input id="model_to_search" type="text" placeholder="Model (i.e. stock.move)">
                  <input id="model_id_to_search" type="text" placeholder="ID (i.e. 54)">
                  <input id="field_to_search" type="text" placeholder="Field (i.e. order_line)">
                  <button id="field_search_button"><h1>Lookup</h1></button>
                </div>

                <div id='notification_box'></div>
            </div>

        </article>




        <!-- Plus Card -->
        <article class="card" id='plus_card'>

            <!--Front of card-->
            <div id='front'>
                <!--Card Title-->
                <header class="card-header" id='plus_card_title'>
                    <p># 0</p>
                    <h2>Add Command</h2>
                </header>
                <!--Image-->
                <div id='plus_card_img'>
                    <img src="static/img/demonlogo_2.png" />
                </div>
            </div>

            <!--Back of card-->
            <div id='back'>
               <h2>SELECT COMMAND</h2>
               <ul id="command_list">
                    <li>Upgrade Module</li>
                    <li>Reset View</li>
                    <li>Field Search</li>
                    <li class="unset_functions">Server Control</li>
                    <li class="unset_functions">Field Lookup</li>
                    <li class="unset_functions">Model Lookup</li>
                    <li class="unset_functions">Switch Database</li>
                    <li class="unset_functions">Help</li>
               </ul>
            </div>

        </article>

    </section>

  </body>

</html>