<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Odoo Demon</title>
    <link rel="stylesheet" href="static/css/v3.css">
    <script type="text/javascript" src="static/js/v3.js"></script>
  </head>

  <body>

    <div id='title'>
        <div id='test1'><span id='t1'>o</span><span id='t2'>doo</span><span id='t3'>Demon</span> </p> </div>
        <div id='test2'> <img src="static/img/demonlogo_2.png" /> </div>
    </div>

    <section class="card-list">

        <!-- Plus Card -->
        <article class="card" id='plus_card'>

            <!--Front of card-->
            <div id='front'>
                <!--Card Title-->
                <header class="card-header" id='plus_card_title'>
                    <p># 0</p>
                    <h2>Add Command</h2>
                </header>
                <!--Image-->
                <div id='plus_card_img'>
                    <img src="static/img/demonlogo_2.png" />
                </div>
            </div>

            <!--Back of card-->
            <div id='back'>
               <h2>SELECT COMMAND</h2>
               <ul id="command_list">
                    <li>Upgrade Module</li>
                    <li>Reset View</li>
                    <li class="unset_functions">Restart Server</li>
                    <li class="unset_functions">Field Lookup</li>
                    <li class="unset_functions">Model Lookup</li>
                    <li class="unset_functions">Switch Database</li>
                    <li class="unset_functions">Help</li>
               </ul>
            </div>

        </article>

    </section>

  </body>

</html>