<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Odoo Demon</title>
    <link rel="stylesheet" href="static/css/v3.css">
    <script type="text/javascript" src="static/js/v3.js"></script>
  </head>

  <body>

    <div id='title'>
        <div id='test1'><span id='t1'>o</span><span id='t2'>doo</span><span id='t3'>Demon</span> </p> </div>
        <div id='test2'> <img src="static/img/demonlogo_2.png" /> </div>
    </div>



    <section class="card-list">

{# 
        <article class="card">
          <div>

            <!-- Card Title -->
            <header class="card-header">
              <p># 1</p>
              <h2>Field lookup</h2>
            </header>

            <div id='model_select'>
                <select name="models" id="models">
                    <option value="">Select a model</option>
                </select>
            </div>

            <!-- Input field -->
            <div id='choose_field'>
                <input type="text" id="field_to_get" name="view_id" placeholder="Enter technical field name"><br>
            </div>

            <!-- Get field Button -->
            <button id='get_field'><h1>Get</h1></button>

            <!-- Notification box -->
            <div id='notification_box'>
              Specify a model + field to get.
            </div>
 
          </div>
        </article>  #}


        <!-- Plus Card -->
        <article class="card" id='plus_card'>

            <!--Front of card-->
            <div id='front'>
                <!--Card Title-->
                <header class="card-header" id='plus_card_title'>
                    <p># 0</p>
                    <h2>Add Command</h2>
                </header>
                <!--Image-->
                <div id='plus_card_img'>
                    <img src="static/img/demonlogo_2.png" />
                </div>
            </div>

            <!--Back of card-->
            <div id='back'>
               <h2>SELECT COMMAND</h2>
               <ul id="command_list">
                    <li>Restart Server</li>
                    <li>Upgrade Module</li>
                    <li>Reset View</li>
                    <li>Field Lookup</li>
                    <li>Switch Database</li>
                    <li>Sugondese</li>
                    <li>Help</li>
               </ul>
            </div>

        </article>


        
    </section>

  </body>

</html>